@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: dark;
		--white: var(--white-main);
		--black: var(--black);
		--blue1: var(--blue1-dark);
		--blue2: var(--blue2-dark);
		--green1: var(--green1-dark);
		--green2: var(--green2-dark);
		--red1: var(--red1-dark);
		--red2: var(--red2-dark);
		--brand1: var(--brand1-dark);
		--brand2: var(--brand2-dark);
		--text-1: var(--text-1-dark);
		--text-2: var(--text-2-dark);
		--text-3: var(--text-3-dark);
		--text-4: var(--text-4-dark);
		--background: var(--background-dark);
		--background2: var(--background2-dark);
		--gradcard-left1: var(--gradcard-left1-dark);
		--gradcard-right1: var(--gradcard-right1-dark);
		--gradcard-left2: var(--gradcard-left2-dark);
		--gradcard-right2: var(--gradcard-right2-dark);
		--gradcard-left3: var(--gradcard-left3-dark);
		--gradcard-right3: var(--gradcard-right3-dark);
		--gradcard-left4: var(--gradcard-left4-dark);
		--gradcard-right4: var(--gradcard-right4-dark);
	}

	@media (prefers-color-scheme: light) {
		:root {
			color-scheme: light;
			--white: var(--white-main);
			--black: var(--black);
			--blue1: var(--blue1-light);
			--blue2: var(--blue2-light);
			--green1: var(--green1-light);
			--green2: var(--green2-light);
			--red1: var(--red1-light);
			--red2: var(--red2-light);
			--brand1: var(--brand1-light);
			--brand2: var(--brand2-light);
			--text-1: var(--text-1-light);
			--text-2: var(--text-2-light);
			--text-3: var(--text-3-light);
			--text-4: var(--text-4-light);
			--background: var(--background-light);
			--background2: var(--background2-light);
			--gradcard-left1: var(--gradcard-left1-light);
			--gradcard-right1: var(--gradcard-right1-light);
			--gradcard-left2: var(--gradcard-left2-light);
			--gradcard-right2: var(--gradcard-right2-light);
			--gradcard-left3: var(--gradcard-left3-light);
			--gradcard-right3: var(--gradcard-right3-light);
			--gradcard-left4: var(--gradcard-left4-light);
			--gradcard-right4: var(--gradcard-right4-light);
		}
	}

	[color-scheme='dark'] {
		color-scheme: dark;
		--white: var(--white-main);
		--black: var(--black);
		--blue1: var(--blue1-dark);
		--blue2: var(--blue2-dark);
		--green1: var(--green1-dark);
		--green2: var(--green2-dark);
		--red1: var(--red1-dark);
		--red2: var(--red2-dark);
		--brand1: var(--brand1-dark);
		--brand2: var(--brand2-dark);
		--text-1: var(--text-1-dark);
		--text-2: var(--text-2-dark);
		--text-3: var(--text-3-dark);
		--text-4: var(--text-4-dark);
		--background: var(--background-dark);
		--background2: var(--background2-dark);
		--gradcard-left1: var(--gradcard-left1-dark);
		--gradcard-right1: var(--gradcard-right1-dark);
		--gradcard-left2: var(--gradcard-left2-dark);
		--gradcard-right2: var(--gradcard-right2-dark);
		--gradcard-left3: var(--gradcard-left3-dark);
		--gradcard-right3: var(--gradcard-right3-dark);
		--gradcard-left4: var(--gradcard-left4-dark);
		--gradcard-right4: var(--gradcard-right4-dark);
		--banner: var(--banner-dark);
	}

	[color-scheme='light'] {
		color-scheme: light;
		--white: var(--white)-main;
		--black: var(--black);
		--blue1: var(--blue1-light);
		--blue2: var(--blue2-light);
		--green1: var(--green1-light);
		--green2: var(--green2-light);
		--red1: var(--red1-light);
		--red2: var(--red2-light);
		--brand1: var(--brand1-light);
		--brand2: var(--brand2-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--text-3: var(--text-3-light);
		--text-4: var(--text-4-light);
		--background: var(--background-light);
		--background2: var(--background2-light);
		--gradcard-left1: var(--gradcard-left1-light);
		--gradcard-right1: var(--gradcard-right1-light);
		--gradcard-left2: var(--gradcard-left2-light);
		--gradcard-right2: var(--gradcard-right2-light);
		--gradcard-left3: var(--gradcard-left3-light);
		--gradcard-right3: var(--gradcard-right3-light);
		--gradcard-left4: var(--gradcard-left4-light);
		--gradcard-right4: var(--gradcard-right4-light);
		--banner: var(--banner-light);
	}

	html {
		--white-main: #ffffff;
		--black: #090c10;
		--blue1-light: theme(colors.blue.500);
		--blue1-dark: theme(colors.blue.500);
		--blue2-light: theme(colors.blue.100);
		--blue2-dark: theme(colors.blue.100);
		--green1-light: #09aa23;
		--green1-dark: #09aa23;
		--green2-light: #5cdd3c;
		--green2-dark: #09aa23;
		--red1-light: #ee2b2b;
		--red1-dark: #ee2b2b;
		--red2-light: #ef4343;
		--red2-dark: #ee2b2b;
		--brand1-light: #1c2331;
		--brand1-dark: #98a5b2;
		--brand2-light: #3f729b;
		--brand2-dark: #3f729b;
		--text-1-light: #f2f4f8;
		--text-1-dark: #f2f4f8;
		--text-2-light: #3f729b;
		--text-2-dark: #ffffff;
		--text-3-light: #344d7f;
		--text-3-dark: #d9d9d9;
		--text-4-light: #3f729b;
		--text-4-dark: #3f729b;
		--background-light: #dfe3ec;
		--background-dark: #07090d;
		--background2-light: #f2f4f8;
		--background2-dark: #202632;
		--gradcard-left1-light: rgba(240, 245, 249, 0.8);
		--gradcard-left1-dark: rgba(31, 45, 56, 0.8);
		--gradcard-right1-light: #ffffff;
		--gradcard-right1-dark: rgba(43, 52, 59, 1);
		--gradcard-left2-light: #bad1e3;
		--gradcard-left2-dark: rgba(31, 39, 46, 0.9);
		--gradcard-right2-light: #a8c5dc;
		--gradcard-right2-dark: rgba(62, 70, 76, 0.25);
		--gradcard-left3-light: rgba(234, 245, 255, 0.9);
		--gradcard-left3-dark: rgba(31, 45, 56, 0.8);
		--gradcard-right3-light: #ffffff;
		--gradcard-right3-dark: rgba(43, 52, 59, 1);
		--gradcard-left4-light: rgba(238, 245, 255, 0.9);
		--gradcard-left4-dark: rgba(31, 45, 56, 0.6);
		--gradcard-right4-light: rgba(250, 251, 255, 1);
		--gradcard-right4-dark: rgba(31, 45, 56, 1);
	}

	body {
		@apply font-body;
	}
}

.bgoverlay-dark {
	@apply bg-[url:theme("backgroundImage.bgaccentdark"),_theme("backgroundImage.gradient-to-br")];
	@apply from-bggrad from-0% via-bggrad-dark via-50% to-bggrad to-100%;
}
.bgoverlay-light {
	@apply bg-[url:theme("backgroundImage.bgaccentlight"),_theme("backgroundImage.gradient-to-br")];
	@apply from-bggrad from-0% via-bggrad-dark via-50% to-bggrad to-100%;
}
.navmenubg {
	@apply bg-gradient-to-br from-bggrad-dark via-bggrad via-40% to-bggrad-dark;
	@apply rounded-md;
	@apply shadow-card;
}
.searchboxbg {
	@apply bg-gradient-to-r from-grad-left1 from-10% to-grad-right1 to-90%;
	@apply rounded-md;
	@apply shadow-card;
}
.cardbg {
	@apply bg-gradient-to-br from-grad-left4 from-20% via-grad-right4 via-60% to-grad-left4 to-85%;
	@apply rounded-md;
	@apply shadow-card;
}
.cardbg2 {
	@apply bg-gradient-to-br from-grad-right2 from-45% to-grad-left2 to-100%;
	@apply rounded-md;
	@apply shadow-card;
}
.button {
	@apply px-6;
	@apply py-2;
	@apply text-text3;
	@apply font-semibold;
	@apply tracking-wide;
	@apply bg-gradient-to-br from-grad-left2 from-5% via-grad-right2 via-65% to-grad-left2;
	@apply rounded-md;
	@apply shadow-card;
}
.button2 {
	@apply px-6;
	@apply py-4;
	@apply text-text3;
	@apply font-semibold;
	@apply text-lg;
	@apply tracking-wider;
	@apply bg-gradient-to-br from-grad-left2 from-5% via-grad-right2 via-65% to-grad-left2;
	@apply rounded-md;
	@apply shadow-card;
}
.buttonbig {
	@apply px-8;
	@apply py-4;
	@apply text-text3;
	@apply font-semibold;
	@apply text-lg;
	@apply md:text-2xl;
	@apply tracking-wider;
	@apply bg-gradient-to-br from-grad-left2 from-5% via-grad-right2 via-65% to-grad-left2;
	@apply rounded-md;
	@apply shadow-card;
}

.cardoutline {
	@apply hover:outline;
	@apply hover:outline-2;
	@apply hover:outline-offset-8;
	@apply hover:rounded-sm;
	@apply hover:ease-in-out;
	@apply hover:duration-200;
}
